#scrollButton {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  /* background-color: rgb(134, 199, 118); */
  /* color: midnightblue; */
  background-color: #8cd6a5dc;
  color: rgb(25, 112, 86);
  cursor: pointer;
  padding: 15px;
  border-radius: 25px;
  font-size: 18px;
}

#scrollButton:hover {
  background-color: lightgray;
  /* Add a background on hover */
}



/*THIS IS THE SETTING PAGE*/
body{
    color: #1a202c;
	box-sizing: border-box;
	font-family: 'Sawarabi Gothic', sans-serif;
}


.card {
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: .25rem;
	margin-top: 150px;
}

.card-body {
	flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
	padding-top: 150%;
}

.gutters-sm {
    margin-right: -8px;
    margin-left: -8px;
}

.shadow-none {
    box-shadow: none!important;
}

.gradient-custom {
  /* fallback for old browsers */
  background: #52ab98;
}

/*FOR THE L*/
.try {
  text-align: right;
  float: right;
  width: 1950px;
  background-color: #8fd6a7;
}

.try ul li {
  list-style: none;
  display: inline-block;
  padding: 0px 10px;
  border-radius: 10px;
}

.try ul li a {
  color: rgb(240, 242, 245);
  text-decoration: none;
  font-size: 22px;
}

/* Added interactivity - colourful line appears on hover */
.try ul li::after {
  content: '';
  width: 0%;
  height: 2px;
  background: #ffcc66;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.try ul li:hover::after {
  width: 100%;
}


/* Page footer */
footer {
  background-color: #8cd6a5dc;
  border-top: solid 1px #8cd6a5dc;
  padding: 10px 10px;
  color: whitesmoke;
  text-align: center;
}

footer p {
  font-size: 16px;
  text-align: left;
}

/* Small print text for footer */
small {
  color: whitesmoke;
}
